.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.highlight{
  background-color: #d6c9db;
}




